<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>MathTag - Test1</title>
  <script src="angular.js"></script>
  <script src="../MathTag.js"></script>
</head>
<body ng-controller="MainCtrl">
  <math-box>
    <curve ng-model="f" ng-color="c1" domain="[-10, 10]"></curve>
    <vector ng-color="c2" ng-model="d" ng-size="size"></vector>
  </math-box>
  <script>
    var app = angular.module('app', ['mathTag']);
    app.controller('MainCtrl', function($scope, $timeout){
      $scope.f = "x^2+1";
      $scope.c1 = 'FF8800';
      $scope.c2 = '0099CC';
      $scope.size = 0.1;
      $scope.d = [[1, 2], [2, 4]];
      $timeout(function(){
        $scope.f = 'sin(x)';
        $scope.c1 = "FF4444";
        $scope.c2 ='669900';
        $scope.size = 0.7;
        $scope.d = [[1, 5], [5, 0]];
      }, 2000);
    })
  </script>
</body>
</html>
